
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fondo: #312ac6;
    --texto: #fff;
    --fuente: 'Montserrat', sans-serif;
}

body{
    background-color: #0004;
    height: 100vh;
    width: 100%;
    font-family: var(--fuente);
}

header{
    min-height: 100vh;
    width: 100%;
    background-color: var(--fondo);
    background-image: url('assets/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

}

.hero__logo{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0px 1rem;
}

.hero__logo img {
    width: 100px;
}

/* .hero__image  {
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
} */




.hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero__image img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.hero__texts{
    color: var(--texto);
    text-align: center;
    padding: 0px 1rem;
}

.hero__texts h1{
    width: 100%;
    font-weight: 900;
    margin-bottom: 1rem;
}

.hero__texts p{
    font-weight: 400;
}

.hero__texts .hero__cta{
    color: var(--fondo);
    background-color: var(--texto);
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 1rem;
    font-weight: 700;
    box-shadow: 2px 1px 5px 0px #0007;
}

.hero__social{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.hero__social .fa-brands{
    color: var(--texto);
    font-size: 1.4rem;
    border: 1px solid var(--texto);
    border-radius: 50%;
    padding: .6rem;
}


@media (min-width: 992px){

header{
    height: 100vh;
}


.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

}   


.hero__texts h1{
    width: 500px;
 }    

.hero__texts p{
    width: 500px;
}
    
.hero__content{
    flex-direction: row;
    gap: 3rem;
    width: 70%;
}

.hero__image{
    width: 100%;
}

.hero__image img {
    width: 100%;
}

.hero__logo{
    width: 90%;

}
.hero__logo img{
    width: 150px;
}

.hero__content .hero__cta,
.hero__social .fa-brands{
    cursor: pointer;
}

.hero__social{
    justify-content: flex-end;
    width: 90%;
}

.hero__social .fa-brands:hover,
.hero__content .hero__cta:hover{
    transform: scale(.9);
}





}